{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <p class="text" HIDDEN><b>HELLO AND WELCOME TO...</b></p>

    <div class="header">
      <span style="font-size: 80px;">
      <b>
        <span style="color:white;">S</span>
        <span style="color:#ea433b;">T</span>
        <span style="color:white;">A</span>
        <span style="color:#ea433b;">R</span>
        CASINO
      </span>

      </b>
    </div>

    <div class="text"><b>PLEASE USE THE BAR AT THE TOP OF THE PAGE TO NAVIGATE BETWEEN GAMES AND WAGER STATISTICS</b></div>

    <img src="/static/banner.jpg" class="img" alt="Roulette" width="750">

    <div class="header2"><b>FIRST TIME PLAYING?</b></div>
    <div class="text2">ENJOY A <i>FREE</i> <span style="color:#ea433b;"><i>10,000 CREDITS</i></span> AND JUMP INTO THE ACTION TODAY!</div>

{% endblock %}